html.safari {
  *:not(input, select) {
    @include unselectable;
  }
}

html.firefox, html.ie {
  .Form {
    &__select {
      > select {
        background-image: none;
      }
    }
  }
}

// NOTE : this will be showing only in IE7 or IE6, see app.blade.php
.ie8-notice {
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #f00;
  text-align: center;
}

html.ie[data-browser-version^="9."] {

  .Intro {
    //

    background-size: cover;

    &:before {
      //

      @include desktop {
        background-color: $white;
        opacity: .4;
      }
    }
  }


}
