// ================================================================================
//    UTILITIES
// ================================================================================

// Length set
@mixin px-rem($attr, $pixel) {
  #{$attr}: #{$pixel}px;
  #{$attr}: #{$pixel / $px-rem-ratio}rem;
}


// ================================================================================
//    FONTS
// ================================================================================

@mixin title {
  text-shadow: 1px 1px 7px #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 300%;
  line-height: 105%;
  letter-spacing: -.025em;
}

// should be wrapped in the .title tag
@mixin title-strong {
  font-family: MuseoSans, "Museo Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 63%;
  line-height: 107%;
  display: block;
  letter-spacing: 0;
}

@mixin brief {
  font-family: MuseoSans, "Museo Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 138%;
  letter-spacing: .025em;
  box-sizing: border-box;
  float: left;
  width: 40.65041%;
  margin-top: 1em;
}

@mixin container {
  box-sizing: border-box;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

@mixin header {
  box-sizing: border-box;
  width: auto;
  margin: 0 0;
  position: relative;
  z-index: 100;
}

@mixin header-content {
  padding-bottom: 60px;
}

@mixin font-weight-1 {
  font-weight: 100;
}

@mixin font-weight-3 {
  font-weight: 300;
}

@mixin font-weight-5 {
  font-weight: 500;
}

@mixin font-weight-7 {
  font-weight: 700;
}

@mixin font-weight-9 {
  font-weight: 900;
}

@mixin unselectable {
  user-select: none;
}

@mixin background-center($background-image: '') {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @if $background-image != '' {
    background-image: $background-image;
  }
}

// background-cover
@mixin background-cover($background-image: '') {
  background-size: cover;
  @include background-center($background-image);
}

// background-contain
@mixin background-contain($background-image: '') {
  background-size: contain;
  @include background-center($background-image);
}

@mixin before-padding-top($padding-top: 100%) {
  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    padding-top: $padding-top;
  }
}


// ================================================================================
//    BREAKPOINTS
// ================================================================================

@mixin desktop {
  @media (min-width: #{$desktop}px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet - 1}px) {
    @content;
  }
}


// ================================================================================
//    FONT SIZE
// ================================================================================

@mixin title-1 {
  @include px-rem(font-size, $font-title-1-size);

}

@mixin title-2 {
  @include px-rem(font-size, $font-title-2-size);
}

@mixin content-1 {
  @include px-rem(font-size, $font-content-1-size);
}

@mixin content-2 {
  @include px-rem(font-size, $font-content-2-size);
}
