html {

    // you should see the magic of rem sizing here!!!
    font-size: 13px;
    font-size: 3.5vw;
    @include tablet {
        font-size: #{$px-rem-ratio}px;
    }
}

html, body, #app {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #ccc;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#content-wrapper {
    // to avoid the overflow issue
    overflow: hidden;
}

.custom-container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    background-color: $container-white;
    @include px-rem(padding-bottom, 11);
    @include px-rem(padding-left, $container-side-padding-desktop);
    @include px-rem(padding-right, $container-side-padding-desktop);
}

.container-inner {
    @include px-rem(padding-top, 10);
    @include px-rem(padding-left, $container-inner-side-padding-mobile);
    @include px-rem(padding-right, $container-inner-side-padding-mobile);

    @include desktop {
        @include px-rem(padding-left, $container-inner-side-padding-desktop);
        @include px-rem(padding-right, $container-inner-side-padding-desktop);
    }
}
