.AbsoluteBanner {

  $absolute-banner-width: 500;
  $absolute-banner-height: 34;
  $absolute-banner-vertical-padding: 6;
  $absolute-banner-adjustment: 10;
  $absolute-banner-translateY: $absolute-banner-height + $absolute-banner-adjustment;
  $absolute-banner-under-translateY: $absolute-banner-height - $absolute-banner-adjustment;
  $banner-arrow-width: 10;
  $absolute-banner-font-size: 14;
  $absolute-banner-border-width: 2;

  @mixin banner-arrow($banner-width) {

    &:before {
      content: '';
      position: absolute;
      @include px-rem(width, $banner-arrow-width);
      @include px-rem(height, $banner-arrow-width);
      @include px-rem(bottom, - $banner-arrow-width / 2 - $absolute-banner-border-width * 2);
      @include px-rem(left, ($banner-width / 2) - $banner-arrow-width / 2);
      background-color: $absolute-banner-background-white;
      transform: rotate(225deg);
      @include px-rem(border-width, $absolute-banner-border-width);
      border: #{$absolute-banner-border-width}px solid $dark-red;
      border-right: none;
      border-bottom: none;
      @include px-rem(border-width, $absolute-banner-border-width);
    }

    &--under {
      transform: translateY(#{$absolute-banner-under-translateY}px);
      transform: translateY(#{$absolute-banner-under-translateY / $px-rem-ratio}rem);

      &:before {
        bottom: auto;
        @include px-rem(top, - $banner-arrow-width / 2);
        transform: rotate(45deg);
      }
    }
  }

  position: absolute;
  @include px-rem(width, $absolute-banner-width);
  @include px-rem(height, $absolute-banner-height);
  @include px-rem(margin-left, - $absolute-banner-width / 2);
  @include px-rem(font-size, 10);
  text-align: center;
  transform: translateY(#{-$absolute-banner-translateY}px);
  transform: translateY(#{-$absolute-banner-translateY / $px-rem-ratio}rem);
  transition: .4s opacity;
  color: $black;

  @include desktop {
    @include px-rem(font-size, 16);
  }

  &:hover {
    z-index: 1;
  }

  &__inner {
    display: inline-block;
    @include px-rem(border-radius, 2);
    @include px-rem(padding-left, 10);
    @include px-rem(padding-right, 10);
    @include px-rem(padding-top, $absolute-banner-vertical-padding);
    @include px-rem(padding-bottom, $absolute-banner-vertical-padding);
    @include px-rem(line-height, $absolute-banner-height - $absolute-banner-vertical-padding * 2);
    background-color: $absolute-banner-background-white;
    border: #{$absolute-banner-border-width}px solid $dark-red;
    @include px-rem(border-width, $absolute-banner-border-width);
    @include px-rem(font-size, $absolute-banner-font-size);
    font-weight: 300;

    @include desktop {
      @include px-rem(padding-left, 16);
      @include px-rem(padding-right, 16);
    }
  }

  &--has-transparency {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  // I have no idea why I need to adjust this, but it looks better after this
  &--adjust {
    @include px-rem(margin-top, -3);
  }

  &:not(&--show) {
    display: none;
  }

  &--arrow-under {
    transform: translateY(#{$absolute-banner-under-translateY}px);
    transform: translateY(#{$absolute-banner-under-translateY / $px-rem-ratio}rem);

    &:before {
      bottom: auto;
      @include px-rem(top, - $banner-arrow-width / 2);
    }
  }

  @include banner-arrow($absolute-banner-width);

  &--gray-scale {
    //

    &:before {
      border-color: $gray-light;
    }
  }

  &--gray-scale &__inner {
    border-color: $gray-light;
  }

}
