.Difference {
  //

  &__statement {
    @include px-rem(font-size, 18);
    color: $result-detail-blue;
    font-weight: 600;
  }

  &__description {
    //

    i {
      position: relative;
      display: inline-block;

      &.hash:before {
        content: '#';
        display: block;
        width: 1.5em;
        height: 1.5em;
        padding: .1em;
        margin-bottom: -.25em;
        text-align: center;
        color: $white;
        background-color: $theme-dark-blue;
        border-radius: .75em;
      }
    }
  }
}
