.Form {
  //

  @mixin input-width {
    width: 100%;
    @include tablet {
      @include px-rem(width, 300);
      min-width: 100%;
    }
    @include desktop {
      @include px-rem(width, 362);
    }
  }

  @mixin input-padding {
    @include px-rem(padding-top, 6);
    @include px-rem(padding-bottom, 6);
    @include px-rem(padding-left, 12);
    @include px-rem(padding-right, 12);
  }

  &__intro {
    //
  }

  &__inner {
    padding-bottom: 0;
  }

  &__table {
    display: table;
    @include px-rem(padding-top, 14);
    @include px-rem(padding-bottom, 14);
    width: 100%;

    &--tight {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__row {
    display: table-row;

    &--offset {
      @include tablet {
        @include px-rem(height, 16);
      }
    }
  }

  &__group {
    @include tablet {
      display: table-cell;
    }

    &--empty {
      //
    }
  }

  &__group-separator {
    display: none;
    @include px-rem(width, 36);

    @include tablet {
      display: table-cell;
      @include px-rem(width, 72);
    }
  }

  &__label {
    @include px-rem(font-size, 18);
    color: $form-label-blue;
    @include px-rem(margin-bottom, 8);

    &:after {
      content: attr(data-error-message);
      font-size: 1em;
      display: inline-block;
      color: $input-error-red;
      padding-left: .5em;
    }
  }

  &__input {
    position: relative;

    > input {
      border: 1px solid $black;
      @include px-rem(border-width, 1);
      background-color: $input-background-white;
      @include px-rem(font-size, 20);
      line-height: 1;
      border-radius: 0;
      height: auto;
      @include input-width;
      @include input-padding;

      @include tablet {
        @include px-rem(font-size, 14);
      }
    }

    @include mobile {
      @include px-rem(font-size, 14);
      @include px-rem(padding-bottom, 12);
    }

  }

  &__select {
    > select {
      border: 1px solid $black;
      @include px-rem(border-width, 1);
      -webkit-appearance: none;
      border-radius: 0;
      background-color: transparent;
      @include px-rem(font-size, 20);
      line-height: 1;
      @include input-width;
      @include input-padding;
      background-image: $form-select-arrow-icon;
      background-position: 99.5% 50%;
      background-repeat: no-repeat;
      background-size: 2em;

      @include tablet {
        @include px-rem(font-size, 14);
      }
    }

    > select, > select > option {
      height: auto;
      border-radius: 0;
    }

    @include mobile {
      @include px-rem(padding-bottom, 12);
    }
  }

  &__submit {
    display: block;
    text-align: center;

    @include tablet {
      display: inline-block;
    }

    > button {
      border: none;
      @include px-rem(border-radius, 4);
      @include px-rem(font-size, 16);
      background-color: $submit-button-background-blue;
      color: $submit-button-text-white;
      @include px-rem(width, 272);
      @include px-rem(height, 38);
      @include font-weight-9;
    }
  }

  &__inline {
    display: inline-block;
  }

  &__bottom {
    background-color: $form-bottom-background-grey;
    color: $white;
    @include px-rem(padding-top, 15);
    @include px-rem(padding-bottom, 15);
    @include px-rem(padding-left, 32);
    @include px-rem(padding-right, 32);
    @include px-rem(font-size, $font-title-2-size);
    @include font-weight-3;
    line-height: 1;

    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__switch {

    $switch-width: 57;
    $switch-height: 29;

    position: relative;
    display: inline-block;
    @include px-rem(width, $switch-width);
    @include px-rem(height, $switch-height);
    @include px-rem(border-radius, 15); // half of height
    @include px-rem(margin-bottom, -8);
    cursor: pointer;

    @include mobile {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    > input[type=checkbox] {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }

    &-visual {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $form-switch-grey;
      border: 1px solid $input-border-grey;
      @include px-rem(border-width, 1);
      @include px-rem(border-radius, $switch-height / 2); // half of height

      &:before {
        content: '';
        position: absolute;
        @include px-rem(top, -1);
        left: 0;
        @include px-rem(width, $switch-height);
        @include px-rem(height, $switch-height);
        border: 8px solid $form-switch-button-grey-2;
        @include px-rem(border-width, 8);
        background-color: $form-switch-button-grey-3;
        border-radius: 50%;
        transition: left .1s linear, margin-left .1s linear, background-color .1s linear;
      }
    }

    & > input[type=checkbox]:checked + &-visual {

      &:before {
        left: 100%;
        background-color: $form-switch-blue;
        @include px-rem(margin-left, -$switch-height);
      }

    }

  }

}
