.Help {

  // variables
  $help-icon-width: 14;
  $help-icon-font-size: 9;
  $help-content-width: 340;
  $help-arrow-width: 12;
  $arrow-rotating: 41deg;

  position: relative;
  display: inline-block;
  vertical-align: top;
  @include px-rem(width, $help-icon-width);
  @include px-rem(height, $help-icon-width);
  background-color: $help-background-grey;
  @include px-rem(border-radius, $help-icon-width / 2);
  z-index: 2;
  cursor: pointer;

  &:before {
    content: '?';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    @include px-rem(font-size, $help-icon-font-size);
    @include px-rem(padding-top, ($help-icon-width - $help-icon-font-size) / 2);
    line-height: 1;
    @include font-weight-1;
    color: $help-text-white;
  }

  &__content {

    position: absolute;
    @include px-rem(bottom, $help-icon-width * 2);
    @include px-rem(left, $help-icon-width / 2);
    @include px-rem(margin-left, -$help-content-width / 2);
    @include px-rem(width, $help-content-width);
    border: 1px solid $help-popup-border-black;
    @include px-rem(border-width, 1);
    @include px-rem(border-radius, 4);
    box-shadow: 1px 1px 8px rgba($help-popup-border-black, .2),
      -1px 1px 8px rgba($help-popup-border-black, .2),
      1px -1px 8px rgba($help-popup-border-black, .2),
      -1px -1px 8px rgba($help-popup-border-black, .2);
    background-color: $help-popup-background-white;
    color: $help-text-blue;
    line-height: $line-height-base;
    @include font-weight-3;
    display: none;

    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      @include px-rem(width, $help-arrow-width);
      @include px-rem(height, $help-arrow-width);
      @include px-rem(margin-bottom, -9);
      background-color: inherit;
      border-bottom: 1px solid $help-popup-border-black;
      @include px-rem(border-bottom-width, 1);
      z-index: 1;
    }

    &:before {
      right: 50%;
      transform-origin: 100% 100%;
      transform: rotate($arrow-rotating);
    }

    &:after {
      left: 50%;
      transform-origin: 0% 100%;
      transform: rotate(-$arrow-rotating);
    }

  }

  &:hover &__content {
    display: block;
  }

  &__header, &__body {
    @include px-rem(font-size, 12);
    @include px-rem(padding-left, 9);
    @include px-rem(padding-right, 9);
    @include px-rem(padding-top, 6);
    @include px-rem(padding-bottom, 6);
  }

  &__header {
    border-bottom: 1px solid $grey;
    @include px-rem(border-bottom-width, 1);
  }

  &__body {
    //
  }

}