.IconTitle {

  $icon-title-background-size: 40;
  $icon-title-icon-right-margin: 12;

  position: relative;
  display: table;
  @include px-rem(margin-bottom, 12);
  @include px-rem(padding-left, $icon-title-background-size + $icon-title-icon-right-margin);

  background-image: $fluctuation-icon;
  @include px-rem(background-size, $icon-title-background-size);
  @include px-rem(min-height, $icon-title-background-size);
  background-repeat: no-repeat;
  background-position: 0% 0%;

  &__inner {
    display: table-cell;
    vertical-align: middle;
    @include px-rem(min-height, $icon-title-background-size);
  }

  &--blue {
    color: $icon-title-blue;
  }

}
