.Intro {
  position: relative;
  @include px-rem(padding-top, $intro-vertical-padding-mobile);
  @include px-rem(padding-bottom, $intro-vertical-padding-mobile);
  @include px-rem(padding-left, $container-side-padding-desktop + $container-inner-side-padding-mobile);
  @include px-rem(padding-right, $container-side-padding-desktop + $container-inner-side-padding-mobile);
  @include px-rem(margin-left, -$container-side-padding-desktop);
  @include px-rem(margin-right, -$container-side-padding-desktop);
  overflow: hidden;
  font-family: $font-family-benton-sans;
  color: $icon-title-grey;
  background-color: $intro-background-color-mobile;
  background-image: $intro-background-image;
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: repeat;

  &:before {
    //

    @include desktop {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(255,255,240,1) 0%, rgba(255,255,240,1) 20%, rgba(255,255,240,0) 80%, rgba(255,255,240,0) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,240,1) 0%, rgba(255,255,240,1) 20%, rgba(255,255,240,0) 80%, rgba(255,255,240,0) 100%);
      background: linear-gradient(to right, rgba(255,255,240,1) 0%, rgba(255,255,240,1) 20%, rgba(255,255,240,0) 80%, rgba(255,255,240,0) 100%);
    }
  }

  &__logo {
    position: absolute;
    @include px-rem(top, -16);
    @include px-rem(right, 16);
    @include px-rem(width, 70);
    background-image: $intro-logo-image;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include before-padding-top(100%);
  }

  &__inner {
    position: relative;
  }

  &__title, &__subtitle {
    @include px-rem(padding-right, 70);
  }

  &__title {
    @include px-rem(margin-bottom, 8);
    @include px-rem(font-size, 30);
    font-family: $font-family-benton-sans-light;
    text-shadow: 1px 1px 7px #fff;
    line-height: 1.05;

    @include desktop {
      @include px-rem(font-size, 40);
    }
  }

  &__subtitle {
    @include px-rem(margin-bottom, 8);
    @include px-rem(font-size, 18);
    font-family: $font-family-benton-sans-light;
  }

  &__brief {
    //
  }

}
