.MoreInformation {
  //

  &__inner {
    //
  }

  &__intro {
    //
  }

  &__link-button {
    display: block;
    border: none;
    @include px-rem(border-radius, 4);
    @include px-rem(font-size, 16);
    background-color: $submit-button-background-blue;
    color: $submit-button-text-white;
    @include px-rem(padding-left, 7);
    @include px-rem(padding-right, 7);
    @include font-weight-9;
    text-align: center;
    line-height: 2.4;
    vertical-align: middle;

    &:hover, &:visited, &:focus {
      background-color: $submit-button-background-blue;
      color: $submit-button-text-white;
      outline: none;
      text-decoration: none;
    }

    @include desktop {
      display: inline-block;
      @include px-rem(min-width, 320);
    }
  }

}
