.Percentage {
  //

  &__title {
    //
  }

  &__content {
    @include px-rem(padding-bottom, 40);
  }

  &__slider {
    //

    &-label {
      color: $percentage-slider-label-blue;
      @include px-rem(font-size, 20);
      @include px-rem(margin-bottom, 16);
      font-weight: 600;
    }

    &-input {
      @include desktop {
        @include px-rem(padding-left, 32);
        @include px-rem(padding-right, 32);
      }
    }

  }

}
