.ProgressBar {

  // variables
  $progress-bar-height: 22;
  $progress-dot-height: 35;

  position: relative;
  @include px-rem(height, $progress-bar-height);
  @include px-rem(border-radius, $progress-bar-height / 2);
  background-color: $progress-bar-background-grey;
  cursor: pointer;


  &__progress {
    position: relative;
    display: inline-block;
    background-color: $progress-bar-background-blue;
    @include px-rem(border-radius, $progress-bar-height / 2);
    height: 100%;
    white-space: nowrap;
  }

  &__dot {
    position: relative;
    display: inline-block;
    height: 100%;
    @include px-rem(padding-top, -$progress-bar-height / 2);
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      @include px-rem(margin-top, -$progress-dot-height / 2);
      @include px-rem(margin-left, -$progress-dot-height / 2);
      @include px-rem(width, $progress-dot-height);
      @include px-rem(height, $progress-dot-height);
      background-color: $progress-bar-dot-grey;
      border: 10px solid $progress-bar-dot-blue;
      @include px-rem(border-width, 10);
      @include px-rem(border-radius, $progress-dot-height / 2);
    }

  }

  &__number {

    $number-width: 65;
    $number-height: 34;
    $number-top: 20;
    $number-arrow-width: 10;

    $mobile-decrease-ratio: .7;
    $mobile-number-width: $number-width * $mobile-decrease-ratio;
    $mobile-number-height: $number-height * $mobile-decrease-ratio;
    $mobile-number-top: $number-top * $mobile-decrease-ratio;
    $mobile-number-arrow-width: $number-arrow-width * $mobile-decrease-ratio;

    position: absolute;
    top: 100%;
    @include px-rem(width, $number-width);
    @include px-rem(height, $number-height);
    @include px-rem(margin-top, $number-top);
    @include px-rem(margin-left, -$number-width / 2);
    background-color: $progress-bar-number-background-blue;
    color: $progress-bar-number-white;
    @include px-rem(border-radius, 2);
    @include unselectable;
    @include px-rem(font-size, $font-content-2-size);
    @include px-rem(line-height, $number-height);

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      @include px-rem(margin-top, -$number-arrow-width / 2);
      @include px-rem(margin-left, -$number-arrow-width / 2);
      @include px-rem(width, $number-arrow-width);
      @include px-rem(height, $number-arrow-width);
      transform: rotate(45deg);
      background-color: $progress-bar-number-background-blue;
    }

    @include mobile {
      @include px-rem(width, $mobile-number-width);
      height: auto;
      @include px-rem(margin-top, $mobile-number-top);
      @include px-rem(margin-left, -$mobile-number-width / 2);
      @include px-rem(font-size, $font-content-2-size);
      &:before {
        @include px-rem(margin-top, -$mobile-number-arrow-width / 2);
        @include px-rem(margin-left, -$mobile-number-arrow-width / 2);
        @include px-rem(width, $mobile-number-arrow-width);
        @include px-rem(height, $mobile-number-arrow-width);
      }
    }

  }


}