.RelativeBanner {

  // variables
  //$relative-banner-width: 500;
  $relative-banner-height: 34;
  $relative-banner-vertical-padding: 6;
  $relative-banner-adjustment: 10;
  $banner-arrow-width: 10;
  $relative-banner-font-size: 14;
  $relative-banner-border-width: 2;

  position: relative;
  display: inline-block;
  @include px-rem(border-radius, 2);
  @include px-rem(padding-left, 10);
  @include px-rem(padding-right, 10);
  @include px-rem(padding-top, $relative-banner-vertical-padding);
  @include px-rem(padding-bottom, $relative-banner-vertical-padding);
  @include px-rem(line-height, $relative-banner-height - $relative-banner-vertical-padding * 2);
  background-color: $relative-banner-background-white;
  border: #{$relative-banner-border-width}px solid $dark-red;
  @include px-rem(border-width, $relative-banner-border-width);
  @include px-rem(font-size, $relative-banner-font-size);
  font-weight: 300;

  @include desktop {
    @include px-rem(padding-left, 16);
    @include px-rem(padding-right, 16);
  }

  &:before {
    content: '';
    position: absolute;
    @include px-rem(width, $banner-arrow-width);
    @include px-rem(height, $banner-arrow-width);
    @include px-rem(bottom, - $banner-arrow-width / 2 - $relative-banner-border-width * 2);
    left: 50%;
    @include px-rem(margin-left, -$banner-arrow-width / 2 - $relative-banner-border-width);
    background-color: $relative-banner-background-white;
    transform: rotate(225deg);
    @include px-rem(border-width, $relative-banner-border-width);
    border: #{$relative-banner-border-width}px solid $dark-red;
    border-right: none;
    border-bottom: none;
    @include px-rem(border-width, $relative-banner-border-width);
  }

  &--no-arrow {
    //

    &:before {
      content: initial;
    }
  }

  &--under {
    //

    &:before {
      bottom: auto;
      @include px-rem(top, -$banner-arrow-width / 2 - 1);
      transform: rotate(45deg);
    }
  }

  &--left {
    //

    &:before {
      bottom: 50%;
      left: 0%;
      @include px-rem(margin-bottom, -$banner-arrow-width / 2 - $relative-banner-border-width);
      transform: rotate(-45deg);
    }
  }

  &--show {
    //
  }

  &:not(&--show) {
    display: none;
  }

  &--under {
    //
  }

  &--dashed {
    border-style: dashed;
  }

}
