.Section {
  $section-inner-padding: 13;

  @include px-rem(margin-bottom, 8);

  &--break-container {

    @include px-rem(margin-left, -$container-inner-side-padding-mobile);
    @include px-rem(margin-right, -$container-inner-side-padding-mobile);
    @include px-rem(padding-left, $container-inner-side-padding-mobile);
    @include px-rem(padding-right, $container-inner-side-padding-mobile);

    @include desktop {
      @include px-rem(margin-left, -$container-inner-side-padding-desktop);
      @include px-rem(margin-right, -$container-inner-side-padding-desktop);
      @include px-rem(padding-left, $container-inner-side-padding-desktop);
      @include px-rem(padding-right, $container-inner-side-padding-desktop);
    }
  }

  &--padding-bottom {
    @include px-rem(padding-bottom, 16);
  }

  &__intro {
    //
  }

  &__inner {
    //@include px-rem(padding-top, 15);
    //@include px-rem(padding-bottom, 15);
    @include px-rem(padding-left, 12);
    @include px-rem(padding-right, 12);

    &--with-border {
      border: 1px solid $border-grey;
      @include px-rem(border-width, 1);
      @include px-rem(padding-top, 14);
      @include px-rem(padding-bottom, 14);
    }
  }

  &__title {
    @include px-rem(font-size, $font-title-1-size);
    color: $section-title-grey;
    font-weight: 100;
  }

  &__subtitle {
    @include px-rem(font-size, $font-title-1-size);
    font-weight: 100;
  }

  &--break-after {
    @include px-rem(margin-bottom, 16);
  }
}
