.StepHint {
  @include px-rem(font-size, $font-title-2-size);
  @include px-rem(margin-bottom, 12);
  @include px-rem(padding-left, 16);
  @include px-rem(padding-right, 16);
  @include px-rem(padding-top, 8);
  @include px-rem(padding-bottom, 8);
  color: $white;
  background-color: $form-step-hint-blue;
  @include px-rem(border-radius, 3);
}
